
@import "bootstrap-icons/font/bootstrap-icons.css";

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

.side-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px;
    width: 20%;
    background-color: aqua;
}

.main-container{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 80%;
    padding: 10px;
    /* flex: 1 1 0; */
}

.task-form-container, .project-form-container{
    background-color: rgba(0, 0, 0, 0.8);;
    position:absolute;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.project-form-container{
    top:0;
}

.close-taskForm-btn, .close-projectForm-btn{
    font-size: 2rem;
    color: white;
    width: 40%;;
    display: flex;
    justify-content: end;
}

.close-taskForm-btn:hover, .close-projectForm-btn:hover{
    cursor: pointer;
    color: red;
}


form {
    background-color:rgb(154, 187, 248);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    height: 90%;
}


.projectForm{
    width: 40%;
    height: 30%;
}

.projectForm > div {
    display: flex;
    gap: 20px;
}

form > div{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 5px;
}

input, button[type="submit"]{
    border-radius: 10px;
    border: none;
}

textarea{
    resize: vertical;
    border-radius: 10px;
    padding: 10px;
}

input[id="title"], input[id="dueDate"], button[type="submit"], #projectName {
    height: 40px;
    font-size: 1.2rem;
    padding-left: 10px;
}

input[id="dueDate"]{
    padding-right: 10px;
}

.priority{
    display: flex;
    flex-direction: row;
    gap: 50px;
}


input[type="radio"] {
    background-color: #fff;
    margin: 0;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}

input[type="radio"]:hover, button[type="submit"]:hover{
    cursor: pointer;
}

select {
    border-radius: 10px;
    height: 30px;
    font-size: 1.2rem;
    padding-left: 10px;
}

button[type="submit"]{
    background-color: rgb(73, 73, 236);
    color: white;
}

button[type="submit"]:hover{
    transform: scale(1.05);
}

.task-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 1;
    width: 24%;
    height: 50%; 
    padding: 10px;
    border-radius: 10px;
    background-color: burlywood;
}

.tasks-container{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    overflow: scroll;
    height: 100vh;
    gap: 1%;
}

i:hover{
    cursor: pointer;
    color: green;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

.button-div{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.due-check-div {
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"]{
    z-index: 1;
    transform: scale(2); /* Adjust scale as needed */
    margin: 5px; /* Optional spacing */
}

.task-title{
    color: rgb(255, 255, 255);
}

.add-task{
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    height: 40px;
}

.add-task:hover{
    cursor: pointer;
    background-color: aquamarine;
    transform: scale(1.01);
}

.task-card:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.hide {
    display: none;
}




/* .add-task{
    width: 100%;
} */

/* .project-container .project{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
} */

/* .project-container .project:hover{
    background-color:darkgray;
    cursor: pointer;
} */
